@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&family=Bebas+Neue&family=Roboto+Slab:wght@100;400&family=Ubuntu:wght@300&family=Vidaloka&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  line-height: 1.4;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

/* navigation */
nav {
  box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
  position: sticky;
  top: 0;
  margin-bottom: 32px;
  background: white;
  padding: 10px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.bar_icon {
  font-size: 32px;
}
button {
  padding: 10px 15px;
  border: none;
  transition: 0, 2s ease-in-out;
}

button:hover {
  opacity: 0.8;
}

/* hero_section */

.hero {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.hero_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tag {
  background-color: #149f39;
  padding: 5px 10px;
  color: white;
}

.hero_content h1 {
  font-size: 72px;
  line-height: 1.2;
  font-weight: 400;
}

.explore_btn {
  background: orange;
}
